<link rel="stylesheet" href="/css/main.css">



<nav class="navbar">
    <a class="navbar-brand" href="/">Patient Management</a>
    <form class="search-form">
        <input class="search-input" type="search" placeholder="Search" aria-label="Search">
        <button class="search-button" type="submit">Search</button>
    </form>
</nav>