<div class="sidebar">
    <ul class="sidebar-list">
        <li><a href="/"><i class="fas fa-home"></i> Dashboard</a></li>
        <li><a href="/add"><i class="fas fa-plus"></i> Add</a></li>

    </ul>
</div>