/* Body */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 50px;
    padding-left: 270px;
    padding-right: 20px;
    text-decoration: none;
    background-image: linear-gradient(to bottom right, #f5f5f5, #e0e0e0);
    color: #333;
}

/* Flash messages */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f8d7da;
    /* Light red */
    color: #721c24;
    /* Dark red */
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.erroralert-success {
    background-color: #bee5eb;
    /* Light blue */
    color: #0c5460;
    /* Dark blue */
    border-color: #bee5eb;
}

.closebtn {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #721c24;
    /* Dark red */
    opacity: 0.5;
}

.closebtn:hover {
    color: #721c24;
    /* Dark red */
    opacity: 0.75;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    /* Dark gray */
    padding: 10px 20px;
    z-index: 100;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    color: #28a745;
    /* Green */
    text-decoration: none;
}

.navbar-brand:hover {
    color: #155724;
    /* Dark green */
}

.search-form {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.search-input {
    padding: 8px;
    border: 1px solid #ced4da;
    /* Light gray */
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    color: #495057;
    /* Dark gray */
}

.search-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    /* Blue */
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
    /* Dark blue */
}

/* Sidebar */
.sidebar {
    background-color: #f8f9fa;
    /* Light gray */
    width: 250px;
    height: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list li {
    padding: 10px;
    border-bottom: 1px solid #ced4da;
    /* Light gray */
    text-align: center;
}

.sidebar-list li a {
    text-decoration: none;
    color: #495057;
    /* Dark gray */
    transition: color 0.3s;
    display: flex;
    justify-content: center;
}

.sidebar-list li a i {
    margin-right: 10px;
    font-size: 16px;
}

.sidebar-list li a:hover {
    color: #007bff;
    /* Blue */
}

/* Welcome bar */
.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    /* Blue */
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    /* Dark blue */
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Patient table */
.Patient-table {
    width: 100%;
    margin-bottom: 20px;
}

.Patient-table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
}

.Patient-table th,
.Patient-table td {
    padding: 12px;
    text-align: left;
    text-decoration: none;
}

.Patient-table th {
    background-color: #28a745;
    /* Green */
    border-color: #269440;
    color: #f5f5f5;
    font-weight: bold;
}

.Patient-table tr:nth-child(even) {
    background-color: #f8f9fa;
    /* Light gray */
}

.Patient-table tr:hover {
    background-color: #e9ecef;
    /* Lighter gray */
}

.Patient-table td {
    padding: 12px;
    border-bottom: 1px solid #ced4da;
    /* Light gray */
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar {
        flex-direction: column;
        padding: 5px;
    }

    .search-form {
        margin-right: 0;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
    }

    .sidebar-list li {
        display: inline-block;
        width: 50%;
    }

    .Patient-table table {
        width: auto;
    }
}

@media (max-width: 480px) {
    .sidebar-list li {
        width: 100%;
    }
}