/* ADD PATIENTS */
/* Form Container */
.form-container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input-group {
    flex: 1;
    margin-right: 70px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-group select#gender {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


.input-group-age,
.input-group-file {
    flex: 1;
    margin-right: 70px;
}

.input-group-age input[type="number"],
.input-group-file input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #218838;
}



/* View-patient */

         .view-container {
             max-width: 800px;
             margin: auto;
             padding: 20px;
             background-color: #f5f5f5;
             border-radius: 8px;
             box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
         }
    
         h2 {
             color: #333;
             margin-bottom: 20px;
         }
    
         .view-card {
             background-color: #fff;
             border-radius: 5px;
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
             padding: 20px;
             margin-bottom: 20px;
         }
    
         .patient-info {
             margin-bottom: 10px;
         }
    
                 .patient-info label {
                     font-weight: bold;
                     display: block;
                     margin-bottom: 5px;
                 }
    
         .patient-info span {
             margin-left: 10px;
         }
                  .patient-info img {
                      max-width: 20%;
                      max-height: 10%;
                      border-radius: 5px;
                      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                      margin-top: 5px;
                  }