<div class="top">

    <h2 class="head">
        <%= locals.discription %>
    </h2>


    <div class="container">
        <a href="/add" class="box Create cssbuttons-io-button">
            <i class="bi bi-plus-lg"></i>

            creates
        </a>

        <a href="/view" class="box view cssbuttons-io-button  ">
            <i class="bi bi-eye-fill"></i>
            View
        </a>
    </div>


</div>