<div class="top">

    <h2 class="head">
        <%= locals.discription %>
    </h2>

    <% locals.messages.info.forEach(message=> { %>
        <div class="alert alert-success" role="alert">
            <%= message %>
                <button type="button" class="closebtn" onclick="this.parentElement.style.display='none';"
                    aria-label="Close">
                    &times;
                </button>
        </div>
        <% }) %>

            <% locals.messages.error.forEach(message=> { %>
                <div class="alert erroralert-success" role="alert">
                    <%= message %>
                        <button type="button" class="closebtn" onclick="this.parentElement.style.display='none';"
                            aria-label="Close">
                            &times;
                        </button>
                </div>
                <% }) %>

                    <div class="container">
                        <a href="/add" class="box Create cssbuttons-io-button">
                            <i class="bi bi-plus-lg"></i>

                            creates
                        </a>

                        <a href="/view" class="box view cssbuttons-io-button  ">
                            <i class="bi bi-eye-fill"></i>
                            View
                        </a>
                    </div>


</div>